<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lyxs916.guidance_activity">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">


        <activity
            android:name=".GuidanceActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
    </application>

</manifest>
